.container-fluid.container-pr {
  max-width: 92% !important; /* Ocupa el % del ancho */
  width: 100% !important;
  padding: 25px 15px !important;
  background: rgba(255, 255, 255, 0.80) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 20px !important;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.20) !important;
  margin: 10px auto !important; 
}

@media (min-width: 768px) {
  .container-fluid.container-pr {
    max-width: 85% !important;
    padding: 50px 60px !important;
    margin: 20px auto !important; 
  }
}

body {
  background: linear-gradient(
      0deg,
      #bfdef2a6,
      rgba(142, 207, 250, 0.65)
    ),
    url("/img/imagenP.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Poppins", sans-serif;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-pr {
  max-width: 1500px;
  width: 100%;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.20);
  animation: fadeIn 0.6s ease-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.form-control {
  border-radius: 10px;
  padding: 10px 12px !important;
  height: 42px !important;
  border: 1px solid #bcd7ef;
  background: #f7f9fc;
  font-size: 14px !important;
  color: #000; 
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.form-control:focus {
  background: #ffffff;
  border-color: #0d6efd;
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.4);
}


/* BOTÓN PRINCIPAL */
.btn-primary {
  background-image: linear-gradient(135deg, #0d6efd, #0a58ca) !important;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  margin-top: 10px;
  transition: 0.25s ease;
}

.btn-primary:hover {
  background-image: linear-gradient(135deg, #0b5ed7, #094c80) !important;
  transform: translateY(-2px);
}

.btn-primary:active {
  transform: scale(0.97);
}

/* BOTON PARA ADMIN DE PROCESO*/
.btn-adminProceso{
  background-image: url("/iconos/admin-procesos.png");
  background-size: 40px !important;  
  background-repeat: no-repeat;
  background-position: 12px !important;      
  background-color: #cde9ee !important;
  width: 50% !important;
  height: auto !important;
  border: none;
  color: rgb(150, 158, 160);;
  padding: 15px 15px 15px 60px;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  font-size: 14px !important;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  min-height: 60px !important;
}

@media (min-width: 768px) {
  .btn-adminProceso {
    padding: 30px 24px 50px 100px !important;
    background-position: 20px center !important;
    background-size: 70px !important;
  }
}

.btn-adminProceso:hover {
  background-color: #64e4e4 !important;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}

/* BOTÓN ADMIN PRINCIPAL */
.btn-adminPrincipal{
  background-image: url("/iconos/admin-principal.png");
  background-size: 40px !important;  
  background-repeat: no-repeat;
  background-position: 12px !important;      
  background-color: #cde9ee !important;
  width: 50% !important;
  height: auto !important;
  border: none;
  color: rgb(150, 158, 160);;
  padding: 15px 15px 15px 60px;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  font-size: 14px !important;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  min-height: 60px !important;

}
.btn-adminPrincipal:hover {
  background-color: #64e4e4 !important;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .btn-adminPrincipal {
    padding: 30px 24px 50px 100px !important;
    background-position: 20px center !important;
    background-size: 70px !important;
  }
}
/* ESPACIADO SUPERIOR */
.mt-5 {
  margin-top: 40px !important;
}

.form-control-custom {
  border-radius: 10px;
  padding: 10px 12px !important;
  width: 90% !important;
  height: 42px !important;
  border: 1px solid #bcd7ef;
  background: #f7f9fc;
  font-size: 18px;
  color: #000; 
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.form-control-custom:focus {
  background: #ffffff;
  border-color: #0d6efd;
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.4);
}

@media (min-width: 768px) {
  .form-control-custom {
    padding: 13px 120px !important;
  }
}

/* BOTON PARA ACCEDER*/
.btn-continuar {
  background-color: #5ec3eb !important;
  background-size: 50px !important;
  background-repeat: no-repeat !important;
  border: none;
  padding: 24px 12px 24px 60px !important;
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 600;
  border-radius: 12px;
  margin-top: 10px;
  transition: 0.25s ease;
  color: white;
}

.btn-continuar:hover {
  background-color: #64e4e4 !important;
  transform: translateY(-2px);
}
@media (min-width: 768px) {
  .btn-continuar {
    width: 70% !important; 
  }
}

.botones-container{
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  width: 100%;
  margin-top: 20px;
}


.bienvenida-titulo {
  font-size: clamp(24px, 5vw, 32px);
  font-weight: 800;
  color: #094c80;
}

.bienvenida-subtitulo {
  font-size: clamp(16px, 3.5vw, 22px);
  font-weight: 600;
  color: #0a58ca;
  margin-top: -5px;
}

.instruccion-texto {
  font-size: 15px;
  color: #000000;
  opacity: 0.9;
}
.instruccion-texto2 {
  font-size: 15px;
  color: #000000;
  opacity: 0.9;
  font-weight: bold;
}

/* Placeholder color para inputs */
.form-control::placeholder,
.form-control-custom::placeholder {
  color: #6c757d;
  opacity: 0.9;
}

.no-transform {
  text-transform: none !important;
}
